@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* the Header designs */
#background-one {
    background-color: #1f2937;
}

.header {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8rem;
    margin-left: 8rem;
    padding-bottom: 3rem;
}
.below-header{
    display: flex;
    justify-content: space-between;
    margin-right: 8rem;
    margin-left: 8rem;
    padding-bottom: 5rem;
}

.header-image{
    background-image: url(./images/man.jpg);
    background-size: 500px;
    width: 500px;
    border-radius: 15px;
    flex-shrink: 0;
    text-indent: -999999px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.fa-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    color: red;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif
}

.below-header {
    gap:4rem;
}

.text-bh {
    color: whitesmoke;
    width: 700px;
    max-height: 300px;
    flex-shrink: 0;

}
.text-bh1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

/*.header-image img {
    border-radius: 8px;
}*/

.top-button{
    padding: 10px 30px;
    color:  #f9faf8;
    font-weight: bold;
    margin-top: 20px;
    background-color: red;
    border: 0;
    border-radius: 4px;
    transition: transform .3s ease-in-out;
    text-align: center;
}
.top-button:focus{
    background-color: blue;
}
.top-button:hover{
    transform: scale(1.2);
}

/* Second Section Design */

#background-two {
    background-color: whitesmoke;
}

.text-sec1 {
    color: #1f2937;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    padding: 3rem;
}

.container {
    display: flex;
    margin-left: 8rem;
    margin-right: 8rem;
    gap: 4rem;
    justify-content: center;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.cont {
    border: 3px solid #1f2937;
    border-radius: 15px;
    background-color: #1f2937;
    transition: transform .3s ease-in-out;
}
.cont:hover{
    transform: scale(1.2);
}

.text-cont{
    font-size: 18px;
    text-align: center;
    width: 250px;
    color: white;
}

.cont .c-img1{
    background-image: url(./images/dubai-family.png);
    background-size: 250px;
    min-height: 180px; ;
    border-radius: 15px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.cont .c-img2{
    background-image: url(./images/dubai-couple.png);
    background-size: 250px;
    min-height: 180px; ;
    border-radius: 15px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.cont .c-img3{
    background-image: url(./images/dubai-single.png);
    background-size: 250px;
    min-height: 180px; ;
    border-radius: 15px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.cont .c-img4{
    background-image: url(./images/paris-family.png);
    background-size: 250px;
    min-height: 180px; ;
    border-radius: 15px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.cont .c-img5{
    background-image: url(./images/paris-couple.png);
    background-size: 250px;
    min-height: 180px; ;
    border-radius: 15px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.cont .c-img6{
    background-image: url(./images/paris-single.jpg);
    background-size: 250px;
    min-height: 180px; ;
    border-radius: 15px;
    background-repeat: no-repeat;
    text-indent: -99999px;
}


.top-list{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

/* Section 3 */
#background-three {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #dadde2;
}

.text-sec3 {
    display: flex;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.text1-sec3 {
    width: 250px;
    font-size: 18px;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.text1-sec3 {
    color: #1f2937;
    font-style: italic;
}
.text2-sec3 {
    text-align: right;
}
.checked {
    color: gold;
}

.stars{
    display: flex;
    width: 250px;
    justify-content: space-between;
    padding-top: 10px;
}

/* Section 4 */
#background-four {
    color: white;
    background-color: #2a4063;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text1-cont4 {
    font-size: 18px;
}

.text2-cont4 {
    font-size: large;
}

.text3-cont4 {
    font-size: 18px;
}

.sec4-button {
    color: white;
    background-color: red;
    border: 2px  solid red;
    padding: 15px 100px;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    transition: transform .3s ease-in-out;
    font-weight: bold;
}
.sec4-button:hover {
    background-color: blue;
    border-color: blue;
}
.sec4-button:focus {
    background-color: blue;
    border-color: blue;
}

.mini-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

/* Footer design */
.footer {
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    align-items: center;
    gap: 3rem;
}


.footer1 {
    display: flex;
    gap: 10rem;
}

.child {
    font-weight: bold;
}

.f1-l1 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer2 {
    padding-bottom: 2rem;
}